* {
    font-family: "Padauk", sans-serif;
    margin: 0;
    padding: 0;
}

.logoimg {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.introduction-text {
    text-align: center;
    color: white;
    padding-top: 150px;
}

#introduction {
    background: linear-gradient(rgba(0, 0, 0, 0.005), rgb(102, 255, 0)), url(images/banner.jpg);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.introduction-text h1 {
    font-size: 75px;
    font-weight: bold;
}

.introduction-text p {
    font-size: 30px;
}

.introduction-button {
    margin: 10px 0;
    text-align: center;
}

.introduction-button a {
    width: 250px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
    margin: 0 15px;
    padding: 10px;
    color: white;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.introduction-button a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -328;
    transition: 0.5s;
}

.introduction-button a:hover span {
    width: 100%;
}

.introduction-button a:hover {
    color: black;
}

.title-text {
    font-size: 35px;
    padding-bottom: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.content {
    margin: 15px;
    color: black;
    background: linear-gradient(white, rgb(213, 243, 201));
    font-size: 30px;
}

.title-text h2 {
    font-size: 50px;
    color: rgb(0, 156, 42);
}

.title-text h1 {
    font-size: 75px;
    color: black;
}

.feature-box {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.feature-text {
    flex-basis: 50%
}

.feature-img {
    flex-basis: 50%;
    margin: auto;
    align-items: center;
}

.feature-img img {
    width: 500px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.feature-title h1 {
    color: green;
}

.feature-title p {
    font-size: 21px;
}

.feature-text {
    margin-right: 50px;
    padding-left: 20px;
}

.feature-decription {
    font-size: 20px;
}

.impact-on-environment {
    background-color: white;
    width: 100%;
}

.impact-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.single-box {
    text-align: center;
    flex-basis: 45%;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    height: 300px;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
}

.single-box img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.cover-layer {
    margin-top: -300px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(33, 222, 255, 0.5));
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.single-box:hover .cover-layer {
    opacity: 1;
}

.impact-description {
    opacity: 0;
    transition: bottom 1s;
    bottom: 0;
    position: absolute;
    width: 95%;
    margin-top: -30px;
    transform: translateX(-50%);
    left: 50%;
}

.single-box:hover .impact-description {
    opacity: 1;
    bottom: 40%;
}

.top-environmentalist {
    width: 100%;
    padding: 70px 0;
}

.row {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 95%;
    margin: auto;
}

.column {
    flex-basis: 30%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 10px 3px black;
}

.column:hover {
    transform: translateY(-10px);
}

.column p {
    font-size: 17.5px;
}

.user img {
    width: 40px;
    border-radius: 5px;
}

.user-i4 small {
    color: rgb(0, 200, 255);
}

#footer {
    background: rgb(199, 199, 199);
}

.footer-row {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.footer-img{
    position:absolute;
    width: 500px;
    left: 35%;
    opacity: 0.3;
}
.title-text p{
    color: rgb(0, 198, 0);
    font-weight: bold ;
}